<div class="questionnaire-container">

    <form [formGroup]="questionnaireFormGroup">
        <div>
            <label class="questionnaire-heading">Questionnaire</label>
        </div>
        <br/>
        <div class="col-md-4 form-group">
            <label  class="allergy-question-label">1 Do you have allergies?  </label>
            <input type="text" class="form-control"  formControlName="allergy">
        </div>
       <br/>

        <div>
            <label class="questionnaire-heading">2 General questions</label>
        </div>

        <div class="col-md-4 form-group">
            <label class="questionnaire-label">2:1 What is your gender?  </label>
            <label>
                <input type="radio" value="Male" formControlName="gender">
                <span>Male</span>
            </label>
            <label>
                <input type="radio" value="Female" formControlName="gender">
                <span>Female</span>
            </label>
        </div>

        <div class="col-md-4 form-group">
            <label class="questionnaire-label">2:2 What is your date of birth?  </label>
            <input type="date" class="form-control" formControlName="dateOfBirth" min="1992-12-17" max="2020-12-31">

        </div>

        <div class="col-md-4 form-group" >
            <label class="questionnaire-label">2:3What is your country of birth?  </label>
            <input type="string" class="form-control"  formControlName="countryOfBirth" >
        </div>

        <div class="col-md- form-group">
            <label class="questionnaire-label">2:4 What is your marital status?  </label>
            <input type="checkbox" formControlName="maritalStatus" (ngModelChange)="getMaritalStatus()">
        </div>
        <br/>

        <label class="questionnaire-heading">3 Intoxications</label>
        <div class="col-md-4 form-group">
            <label class="questionnaire-label">3:1 Do you smoke?  </label>
            <label>
                <input type="radio" value="Yes" formControlName="smokingHabit">
                <span>Yes</span>
            </label>
            <label>
                <input type="radio" value="No" formControlName="smokingHabit">
                <span>No</span>
            </label>
        </div>

        <div class="col-md-4 form-group">
            <label class="questionnaire-label">3:2 Do you drink alcohol?  </label>
            <label>
                <input type="radio" value="Yes" formControlName="drinkingHabit">
                <span>Yes</span>
            </label>
            <label>
                <input type="radio" value="No" formControlName="drinkingHabit">
                <span>No</span>
            </label>
        </div>
      <button type="submit" [disabled]="!questionnaireFormGroup.valid"
              class="btn-btn-success" ng-submit="onsubmit()">Save</button>

        <br>

        <div class="questionnaire-response">
           <div class="questionnaire-heading">Questionnaire Response:</div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="allergy-question-label">1 Do you have allergies: </label>
                    <span>{{getFormControl('allergy').value}}</span>
                </div>
            </div>

            <label class="questionnaire-heading1">2 General questions</label>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="questionnaire-label">Gender: </label>
                    <span>{{getFormControl('gender').value}}</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="questionnaire-label">Date of birth:  </label>
                    <span>{{getFormControl('dateOfBirth').value}}</span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="questionnaire-label">Country of birth:  </label>
                    <span>{{getFormControl('countryOfBirth').value}}</span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="questionnaire-label">Marital status:  </label>
                    <span>{{maritalStatus}}</span>
                </div>
            </div>

            <label class="questionnaire-heading1">3 Intoxications</label>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="questionnaire-label">Do you smoke:  </label>
                    <span>{{getFormControl('smokingHabit').value}}</span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="questionnaire-label">Do you drink alcohol:  </label>
                    <span>{{getFormControl('drinkingHabit').value}}</span>
                </div>
            </div>

        </div>
    </form>
</div>
